.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 2px #1680c2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    font-size: 8px;
    color: #ffffff;
    justify-content: right;
}
